/* You can add global styles to this file, and also import other style files */

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100dvh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: #333;
}
